# ğŸ“ 01. ë°ì´í„° ì „ì²˜ë¦¬ ë° í†µí•©

In [1]:
import pandas as pd

## ë°ì´í„° ì„¸íŠ¸ ì „ì²˜ë¦¬

### ğŸŒŸ ê³µí†µ ì „ì²˜ë¦¬
- **ê¸°ê°„** : 2021ë…„ ë°ì´í„° ê¸°ì¤€
- **ì§€ì—­** : ì„œìš¸íŠ¹ë³„ì‹œ, ê²½ê¸°ë„, ì¸ì²œê´‘ì—­ì‹œ
- **ì§€ì—­ í†µí•© ì²˜ë¦¬**
    - ê²½ê¸°ë„, ì¸ì²œê´‘ì—­ì‹œ ë°ì´í„°: 'êµ¬' â†’ 'ì‹œ' ë‹¨ìœ„ë¡œ í†µí•©(í‰ê· )
    - 'ì¤‘êµ¬' ì¤‘ë³µ êµ¬ë¶„: ì„œìš¸ì¤‘êµ¬, ì¸ì²œì¤‘êµ¬ë¡œ ëª…ì‹œ
- **ê³ ìœ ê°’ ì„¤ì •** : ì§€ì—­êµ¬ëª…ì„ ê³ ìœ  ì¸ë±ìŠ¤ë¡œ ì„¤ì •í•˜ì—¬ ë°ì´í„° ë³‘í•©

- - -

### ğŸ’¤ ìˆ˜ë©´ì¥ì•  ë°ì´í„° ì „ì²˜ë¦¬
- ì¶œì²˜: êµ­ë¯¼ê±´ê°•ë³´í—˜ê³µë‹¨_ìˆ˜ë©´ì¥ì•  ê´€ë ¨ ì£¼ìƒë³‘ë³„ ì§„ë£Œì •ë³´
- ì‚¬ìš© ì¡°ê±´:
    - **2021**ë…„ë„
    - ì£¼ìƒë³‘ëª… = **'ë¹„ê¸°ì§ˆì„± ìˆ˜ë©´ì¥ì• '**
- ì‚¬ìš© ë³€ìˆ˜: `ì‹œêµ°êµ¬`, `ì§„ë£Œì¸ì›(ëª…)`

In [ ]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
data = pd.read_csv('data/ìˆ˜ë©´ì¥ì•  ê´€ë ¨ ì£¼ìƒë³‘ë³„ ì§„ë£Œì •ë³´_2020.csv')
data.head()

        ì£¼ìƒë³‘ëª…  ì§„ë£Œë…„ë„     ì‹œë„  ì‹œêµ°êµ¬  ì§„ë£Œì¸ì›(ëª…) ì‹œêµ°êµ¬2
0  ë¹„ê¸°ì§ˆì„± ìˆ˜ë©´ì¥ì•   2021  ì„œìš¸íŠ¹ë³„ì‹œ  ì¢…ë¡œêµ¬     1202  ì¢…ë¡œêµ¬
1  ë¹„ê¸°ì§ˆì„± ìˆ˜ë©´ì¥ì•   2021  ì„œìš¸íŠ¹ë³„ì‹œ   ì¤‘êµ¬     1280   ì¤‘êµ¬
2  ë¹„ê¸°ì§ˆì„± ìˆ˜ë©´ì¥ì•   2021  ì„œìš¸íŠ¹ë³„ì‹œ  ìš©ì‚°êµ¬     1955  ìš©ì‚°êµ¬
3  ë¹„ê¸°ì§ˆì„± ìˆ˜ë©´ì¥ì•   2021  ì„œìš¸íŠ¹ë³„ì‹œ  ì„±ë™êµ¬     2256  ì„±ë™êµ¬
4  ë¹„ê¸°ì§ˆì„± ìˆ˜ë©´ì¥ì•   2021  ì„œìš¸íŠ¹ë³„ì‹œ  ê´‘ì§„êµ¬     2351  ê´‘ì§„êµ¬

In [16]:
# ì§„ë£Œë…„ë„ ì»¬ëŸ¼ ì‚­ì œ(ëª¨ë‘ 2021ë…„ìœ¼ë¡œ ë™ì¼)
data.drop(columns='ì§„ë£Œë…„ë„', inplace=True)
data.columns

Index(['ì£¼ìƒë³‘ëª…', 'ì‹œë„', 'ì‹œêµ°êµ¬', 'ì§„ë£Œì¸ì›(ëª…)', 'ì‹œêµ°êµ¬2'], dtype='object')

In [17]:
# ì¤‘êµ¬ ì¤‘ë³µ ì²˜ë¦¬
data.loc[(data['ì‹œë„']=='ì„œìš¸íŠ¹ë³„ì‹œ')&(data['ì‹œêµ°êµ¬']=='ì¤‘êµ¬'), 'ì‹œêµ°êµ¬'] = 'ì„œìš¸ì¤‘êµ¬'
data.loc[(data['ì‹œë„']=='ì¸ì²œê´‘ì—­ì‹œ')&(data['ì‹œêµ°êµ¬']=='ì¤‘êµ¬'), 'ì‹œêµ°êµ¬'] = 'ì¸ì²œì¤‘êµ¬'

# ì‹œêµ°êµ¬ ëŒ€ë¶„ë¥˜(ì‹œêµ°êµ¬2) ì¤‘êµ¬ ì¤‘ë³µ ì²˜ë¦¬
data.loc[(data['ì‹œë„']=='ì„œìš¸íŠ¹ë³„ì‹œ')&(data['ì‹œêµ°êµ¬2']=='ì¤‘êµ¬'), 'ì‹œêµ°êµ¬2'] = 'ì„œìš¸ì¤‘êµ¬'
data.loc[(data['ì‹œë„']=='ì¸ì²œê´‘ì—­ì‹œ')&(data['ì‹œêµ°êµ¬2']=='ì¤‘êµ¬'), 'ì‹œêµ°êµ¬2'] = 'ì¸ì²œì¤‘êµ¬'

In [18]:
# ì‹œêµ°êµ¬ ê³ ìœ ê°’ì¸ì§€ í™•ì¸
if (data['ì‹œêµ°êµ¬'].value_counts() > 1).any():
    print('ì‹œêµ°êµ¬ ê³ ìœ ê°’ì´ ì•„ë‹™ë‹ˆë‹¤.')
else:
    print('ì‹œêµ°êµ¬ ê³ ìœ ê°’ì…ë‹ˆë‹¤.')

ì‹œêµ°êµ¬ ê³ ìœ ê°’ì…ë‹ˆë‹¤.

In [19]:
# ì¤‘ë³µëœ ì‹œêµ°êµ¬ëª… í–‰ì„ ì²« í–‰ë§Œ ë‚¨ê¸°ê³  ë‚˜ë¨¸ì§€ ì‚­ì œ
data = data.drop_duplicates(subset=['ì‹œêµ°êµ¬2'], keep='first')

# ë¹ˆë„ ì»¬ëŸ¼ì„ ì¤‘ë³µëœ ì‹œêµ°êµ¬ëª…ì˜ í‰ê· ê°’ìœ¼ë¡œ ëŒ€ì²´
data['ì§„ë£Œì¸ì›(ëª…)'] = data.groupby('ì‹œêµ°êµ¬2')['ì§„ë£Œì¸ì›(ëª…)'].transform('mean')

# ì¤‘ë³µëœ ì‹œêµ°êµ¬ëª… í–‰ì„ ë‹¤ì‹œ ì‚­ì œí•˜ì—¬ í‰ê· ê°’ì´ ë°˜ì˜ëœ ì²« í–‰ë§Œ ë‚¨ê¸°ê¸°
data = data.drop_duplicates(subset=['ì‹œêµ°êµ¬2'], keep='first')

In [20]:
if (data['ì‹œêµ°êµ¬2'].value_counts() > 1).any():
    print('ì¤‘ë³µëœ ì‹œêµ°êµ¬2 ê°’:', data['ì‹œêµ°êµ¬2'].value_counts()[data['ì‹œêµ°êµ¬2'].value_counts() > 1].index.tolist())
else:
    print('ì¤‘ë³µì—†ìŒ')

ì¤‘ë³µì—†ìŒ

### ğŸ” ì•¼ì‹(ë°°ë‹¬) ë°ì´í„° ì „ì²˜ë¦¬

1) ì•¼ì‹ ë¹ˆë„ ë°ì´í„° ì „ì²˜ë¦¬
    - `ì„¸ëŒ€êµ¬ì„±ëŒ€ë¶„ë¥˜ëª…`ì„ ì‹œêµ°êµ¬ë³„ë¡œ í‰ê·  ì§‘ê³„í•˜ì—¬ ì»¬ëŸ¼í™”
    - 'ë‹¤ì„¯ê°€êµ¬ ë¯¸ë§Œ' â†’ '5'ë¡œ ëŒ€ì²´í•˜ì—¬ ìˆ˜ì¹˜í˜•ìœ¼ë¡œ ë³€í™˜

In [ ]:
# ì£¼ê±° íŠ¹ì„±ë³„ ë°°ë‹¬ ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
data2 = pd.read_csv('data/delivery.csv', index_col=0)
data2.head()

      ë…„  ê´‘ì—­ì‹œë„ëª… ì‹œêµ°êµ¬ëª… ì„¸ëŒ€êµ¬ì„±ëŒ€ë¶„ë¥˜ëª…      ë¹ˆë„ ì‹œêµ°êµ¬2
0  2020  ì„œìš¸íŠ¹ë³„ì‹œ  ì¢…ë¡œêµ¬   1ì„¸ëŒ€ ê°€êµ¬  8752.0  ì¢…ë¡œêµ¬
1  2020  ì„œìš¸íŠ¹ë³„ì‹œ  ì¢…ë¡œêµ¬   1ì„¸ëŒ€ ê°€êµ¬  3162.0  ì¢…ë¡œêµ¬
2  2020  ì„œìš¸íŠ¹ë³„ì‹œ  ì¢…ë¡œêµ¬   1ì„¸ëŒ€ ê°€êµ¬  2628.0  ì¢…ë¡œêµ¬
3  2020  ì„œìš¸íŠ¹ë³„ì‹œ  ì¢…ë¡œêµ¬   1ì„¸ëŒ€ ê°€êµ¬   836.0  ì¢…ë¡œêµ¬
4  2020  ì„œìš¸íŠ¹ë³„ì‹œ  ì¢…ë¡œêµ¬   1ì„¸ëŒ€ ê°€êµ¬  1406.0  ì¢…ë¡œêµ¬

In [23]:
# ë…„ë„ ì»¬ëŸ¼ ì‚­ì œ
data2.drop(columns=['ë…„'], inplace=True)

# ê´‘ì—­ì‹œë„ëª… -> ì‹œë„/ ì‹œêµ°êµ¬ëª… -> ì‹œêµ°êµ¬ë¡œ ì»¬ëŸ¼ëª… ë³€ê²½
data2.rename(columns={'ê´‘ì—­ì‹œë„ëª…':'ì‹œë„'}, inplace=True)
data2.rename(columns={'ì‹œêµ°êµ¬ëª…':'ì‹œêµ°êµ¬'}, inplace=True)

In [24]:
# ì¤‘êµ¬ ì¤‘ë³µ ì²˜ë¦¬
data2.loc[(data2['ì‹œë„']=='ì„œìš¸íŠ¹ë³„ì‹œ')&(data2['ì‹œêµ°êµ¬']=='ì¤‘êµ¬'), 'ì‹œêµ°êµ¬'] = 'ì„œìš¸ì¤‘êµ¬'
data2.loc[(data2['ì‹œë„']=='ì¸ì²œê´‘ì—­ì‹œ')&(data2['ì‹œêµ°êµ¬']=='ì¤‘êµ¬'), 'ì‹œêµ°êµ¬'] = 'ì¸ì²œì¤‘êµ¬'

# ì¤‘êµ¬ ì¤‘ë³µ ì²˜ë¦¬
data2.loc[(data2['ì‹œë„']=='ì„œìš¸íŠ¹ë³„ì‹œ')&(data2['ì‹œêµ°êµ¬2']=='ì¤‘êµ¬'), 'ì‹œêµ°êµ¬2'] = 'ì„œìš¸ì¤‘êµ¬'
data2.loc[(data2['ì‹œë„']=='ì¸ì²œê´‘ì—­ì‹œ')&(data2['ì‹œêµ°êµ¬2']=='ì¤‘êµ¬'), 'ì‹œêµ°êµ¬2'] = 'ì¸ì²œì¤‘êµ¬'

In [25]:
# ì„¸ëŒ€êµ¬ì„±ëŒ€ë¶„ë¥˜ëª… í™•ì¸
data2['ì„¸ëŒ€êµ¬ì„±ëŒ€ë¶„ë¥˜ëª…'].unique()

array(['1ì„¸ëŒ€ ê°€êµ¬', '2ì„¸ëŒ€ ê°€êµ¬', '3ì„¸ëŒ€ ê°€êµ¬', '4ì„¸ëŒ€ ì´ìƒ ê°€êµ¬', '1ì¸ ê°€êµ¬', 'ë¹„ì¹œì¡± ê°€êµ¬'],
      dtype=object)

In [26]:
# ì‹œêµ°êµ¬ë³„ ì„¸ëŒ€êµ¬ì„±ëŒ€ë¶„ë¥˜ëª…ì˜ ë¹ˆë„ í‰ê·  ê³„ì‚° (ì»¬ëŸ¼í™”)
data_pivot = data2.pivot_table(index='ì‹œêµ°êµ¬', columns='ì„¸ëŒ€êµ¬ì„±ëŒ€ë¶„ë¥˜ëª…', values='ë¹ˆë„', aggfunc='mean')

# ì¸ë±ìŠ¤ ì´ˆê¸°í™”
data_pivot = data_pivot.reset_index()

# ì„¸ëŒ€êµ¬ì„±ëŒ€ë¶„ë¥˜ ëŒ€ì²´
data_final = data2.drop(columns=['ì„¸ëŒ€êµ¬ì„±ëŒ€ë¶„ë¥˜ëª…', 'ë¹ˆë„']).drop_duplicates(subset=['ì‹œêµ°êµ¬'])

# ê¸°ì¡´ ë°ì´í„°ì™€ ë³‘í•©
data2 = pd.merge(data_final, data_pivot, on='ì‹œêµ°êµ¬', how='left')
data2.head()

,ì‹œë„,ì‹œêµ°êµ¬,ì‹œêµ°êµ¬2,1ì„¸ëŒ€ ê°€êµ¬,1ì¸ ê°€êµ¬,2ì„¸ëŒ€ ê°€êµ¬,3ì„¸ëŒ€ ê°€êµ¬,4ì„¸ëŒ€ ì´ìƒ ê°€êµ¬,ë¹„ì¹œì¡± ê°€êµ¬
0,ì„œìš¸íŠ¹ë³„ì‹œ,ì¢…ë¡œêµ¬,ì¢…ë¡œêµ¬,348.633333,5198.666667,507.567407,119.103333,6.186667,380.753333
1,ì„œìš¸íŠ¹ë³„ì‹œ,ì„œìš¸ì¤‘êµ¬,ì„œìš¸ì¤‘êµ¬,314.186667,4565.666667,427.126667,94.586667,5.173333,381.146667
2,ì„œìš¸íŠ¹ë³„ì‹œ,ìš©ì‚°êµ¬,ìš©ì‚°êµ¬,553.745556,7378.266667,792.157778,158.685000,6.453333,709.946667
3,ì„œìš¸íŠ¹ë³„ì‹œ,ì„±ë™êµ¬,ì„±ë™êµ¬,712.411111,8519.066667,1135.387407,228.603333,7.206667,541.346667
4,ì„œìš¸íŠ¹ë³„ì‹œ,ê´‘ì§„êµ¬,ê´‘ì§„êµ¬,772.342222,12462.266667,1296.900000,247.738333,6.533333,688.546667

In [27]:
# ì¤‘ë³µëœ ì‹œêµ°êµ¬ëª… í–‰ì„ ì²« í–‰ë§Œ ë‚¨ê¸°ê³  ë‚˜ë¨¸ì§€ ì‚­ì œ
data2 = data2.drop_duplicates(subset=['ì‹œêµ°êµ¬2'], keep='first')

# ë¹ˆë„ ì»¬ëŸ¼ì„ ì¤‘ë³µëœ ì‹œêµ°êµ¬ëª…ì˜ í‰ê· ê°’ìœ¼ë¡œ ëŒ€ì²´
columns_to_transform = ['1ì„¸ëŒ€ ê°€êµ¬', '2ì„¸ëŒ€ ê°€êµ¬', '3ì„¸ëŒ€ ê°€êµ¬', '4ì„¸ëŒ€ ì´ìƒ ê°€êµ¬', '1ì¸ ê°€êµ¬', 'ë¹„ì¹œì¡± ê°€êµ¬']
data2[columns_to_transform] = data2.groupby('ì‹œêµ°êµ¬2')[columns_to_transform].transform('mean')

# ì¤‘ë³µëœ ì‹œêµ°êµ¬ëª… í–‰ì„ ë‹¤ì‹œ ì‚­ì œí•˜ì—¬ í‰ê· ê°’ì´ ë°˜ì˜ëœ ì²« í–‰ë§Œ ë‚¨ê¸°ê¸°
data2 = data2.drop_duplicates(subset=['ì‹œêµ°êµ¬2'], keep='first')

In [28]:
# ì‹œêµ°êµ¬ ê³ ìœ ê°’ì¸ì§€ í™•ì¸
if (data2['ì‹œêµ°êµ¬2'].value_counts() > 1).any():
    print('ì‹œêµ°êµ¬ ê³ ìœ ê°’ì´ ì•„ë‹™ë‹ˆë‹¤.')
else:
    print('ì‹œêµ°êµ¬ ê³ ìœ ê°’ì…ë‹ˆë‹¤.')

ì‹œêµ°êµ¬ ê³ ìœ ê°’ì…ë‹ˆë‹¤.

2) ì•¼ì‹ í‰ê· ì£¼ë¬¸ê¸ˆì•¡ ë°ì´í„° ì „ì²˜ë¦¬
    - `í‰ê· ì£¼ë¬¸ê¸ˆì•¡`ì„ ì‹œêµ°êµ¬ ê¸°ì¤€ìœ¼ë¡œ í‰ê·  ì§‘ê³„
    - ë‚ ì§œ, ì‹œê°„ëŒ€ ê´€ë ¨ ì»¬ëŸ¼ ì œê±°

In [ ]:
# ì£¼ë¬¸ ê°€ê²© ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
data3 = pd.read_csv('data/order_price.csv', index_col=0)
data3.head()

     ë‚ ì§œ  ì‹œê°„ëŒ€ë³„ ì‹œê°„ ëª©ì ì§€ ê´‘ì—­ì‹œë„ëª… ëª©ì ì§€ ì‹œêµ°êµ¬ëª…  í‰ê· ì£¼ë¬¸ê¸ˆì•¡  ì‹œêµ°êµ¬2
0  2021        0       ê²½ê¸°ë„     ë™ë‘ì²œì‹œ   72667  ë™ë‘ì²œì‹œ
1  2021        0       ê²½ê¸°ë„      ë¶€ì²œì‹œ   34877   ë¶€ì²œì‹œ
2  2021        0       ê²½ê¸°ë„  ì•ˆì‚°ì‹œ ìƒë¡êµ¬   24420   ì•ˆì‚°ì‹œ
3  2021        0       ê²½ê¸°ë„     ì˜ì •ë¶€ì‹œ   31600  ì˜ì •ë¶€ì‹œ
6  2021        0     ì„œìš¸íŠ¹ë³„ì‹œ      êµ¬ë¡œêµ¬   34345   êµ¬ë¡œêµ¬

In [36]:
# ë‚ ì§œ, ì‹œêµ°êµ¬2 ì»¬ëŸ¼ ì‚­ì œ
data3.drop(columns=['ë‚ ì§œ'], inplace=True)

# ëª©ì ì§€ ê´‘ì—­ì‹œë„ëª… -> ì‹œë„, ëª©ì ì§€ ì‹œêµ°êµ¬ëª… -> ì‹œêµ°êµ¬ë¡œ ì»¬ëŸ¼ëª… ë³€ê²½
data3.rename(columns={'ëª©ì ì§€ ê´‘ì—­ì‹œë„ëª…':'ì‹œë„'}, inplace=True)
data3.rename(columns={'ëª©ì ì§€ ì‹œêµ°êµ¬ëª…':'ì‹œêµ°êµ¬'}, inplace=True)

In [37]:
# ì¤‘êµ¬ ì¤‘ë³µ ì²˜ë¦¬
data3.loc[(data3['ì‹œë„']=='ì„œìš¸íŠ¹ë³„ì‹œ')&(data3['ì‹œêµ°êµ¬']=='ì¤‘êµ¬'), 'ì‹œêµ°êµ¬'] = 'ì„œìš¸ì¤‘êµ¬'
data3.loc[(data3['ì‹œë„']=='ì¸ì²œê´‘ì—­ì‹œ')&(data3['ì‹œêµ°êµ¬']=='ì¤‘êµ¬'), 'ì‹œêµ°êµ¬'] = 'ì¸ì²œì¤‘êµ¬'

# ì¤‘êµ¬ ì¤‘ë³µ ì²˜ë¦¬
data3.loc[(data3['ì‹œë„']=='ì„œìš¸íŠ¹ë³„ì‹œ')&(data3['ì‹œêµ°êµ¬2']=='ì¤‘êµ¬'), 'ì‹œêµ°êµ¬2'] = 'ì„œìš¸ì¤‘êµ¬'
data3.loc[(data3['ì‹œë„']=='ì¸ì²œê´‘ì—­ì‹œ')&(data3['ì‹œêµ°êµ¬2']=='ì¤‘êµ¬'), 'ì‹œêµ°êµ¬2'] = 'ì¸ì²œì¤‘êµ¬'

In [38]:
# ì•¼ê°„í‰ê· ì£¼ë¬¸ê¸ˆì•¡

# ì‹œê°„ëŒ€ë³„ ì‹œê°„ ì»¬ëŸ¼ ì‚­ì œ
data3.drop(columns=['ì‹œê°„ëŒ€ë³„ ì‹œê°„'], inplace=True)

# ì‹œêµ°êµ¬ë³„ í‰ê· ì£¼ë¬¸ê¸ˆì•¡ ê³„ì‚°
df_g = data3.groupby('ì‹œêµ°êµ¬', as_index=False)['í‰ê· ì£¼ë¬¸ê¸ˆì•¡'].mean()

# ê¸°ì¡´ ë°ì´í„°ì—ì„œ 'í‰ê· ì£¼ë¬¸ê¸ˆì•¡' ì»¬ëŸ¼ ëŒ€ì²´
data3 = pd.merge(
    data3.drop(columns=['í‰ê· ì£¼ë¬¸ê¸ˆì•¡']).drop_duplicates(subset=['ì‹œêµ°êµ¬']),
    df_g, on='ì‹œêµ°êµ¬', how='left'
    )
data3.head()

      ì‹œë„      ì‹œêµ°êµ¬  ì‹œêµ°êµ¬2        í‰ê· ì£¼ë¬¸ê¸ˆì•¡
0    ê²½ê¸°ë„     ë™ë‘ì²œì‹œ  ë™ë‘ì²œì‹œ  26882.143657
1    ê²½ê¸°ë„      ë¶€ì²œì‹œ   ë¶€ì²œì‹œ  28329.552441
2    ê²½ê¸°ë„  ì•ˆì‚°ì‹œ ìƒë¡êµ¬   ì•ˆì‚°ì‹œ  27154.460281
3    ê²½ê¸°ë„     ì˜ì •ë¶€ì‹œ  ì˜ì •ë¶€ì‹œ  28458.182341
4  ì„œìš¸íŠ¹ë³„ì‹œ      êµ¬ë¡œêµ¬   êµ¬ë¡œêµ¬  28139.356929

In [39]:
# ì¤‘ë³µëœ ì‹œêµ°êµ¬ëª… í–‰ì„ ì²« í–‰ë§Œ ë‚¨ê¸°ê³  ë‚˜ë¨¸ì§€ ì‚­ì œ
data3 = data3.drop_duplicates(subset=['ì‹œêµ°êµ¬2'], keep='first')

# ë¹ˆë„ ì»¬ëŸ¼ì„ ì¤‘ë³µëœ ì‹œêµ°êµ¬ëª…ì˜ í‰ê· ê°’ìœ¼ë¡œ ëŒ€ì²´
data3['í‰ê· ì£¼ë¬¸ê¸ˆì•¡'] = data3.groupby('ì‹œêµ°êµ¬2')['í‰ê· ì£¼ë¬¸ê¸ˆì•¡'].transform('mean')

# ì¤‘ë³µëœ ì‹œêµ°êµ¬ëª… í–‰ì„ ë‹¤ì‹œ ì‚­ì œí•˜ì—¬ í‰ê· ê°’ì´ ë°˜ì˜ëœ ì²« í–‰ë§Œ ë‚¨ê¸°ê¸°
data3 = data3.drop_duplicates(subset=['ì‹œêµ°êµ¬2'], keep='first')

In [40]:
# ì‹œêµ°êµ¬ ê³ ìœ ê°’ì¸ì§€ í™•ì¸
if (data3['ì‹œêµ°êµ¬2'].value_counts() > 1).any():
    print('ì‹œêµ°êµ¬ ê³ ìœ ê°’ì´ ì•„ë‹™ë‹ˆë‹¤.')
else:
    print('ì‹œêµ°êµ¬ ê³ ìœ ê°’ì…ë‹ˆë‹¤.')

ì‹œêµ°êµ¬ ê³ ìœ ê°’ì…ë‹ˆë‹¤.

### ğŸ™ï¸ ìœ í¥ì—…ì†Œ ë°ì´í„° ì „ì²˜ë¦¬

- ìœ í¥ì—…ì†Œ ê°œìˆ˜ ì¹´ìš´íŠ¸ â†’ ì‹œêµ°êµ¬ë³„ë¡œ ë°€ì§‘ë„ ìˆ˜ì¹˜í™”
- ê²°ì¸¡ì¹˜ êµ¬ëŠ” ì‚­ì œ
- ì„œìš¸ + ì¸ì²œ/ê²½ê¸° : êµ¬ ë‹¨ìœ„ í†µì¼ í›„ ë³‘í•©

1) ì„œìš¸

In [ ]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
alcohol_seoul = pd.read_csv('data/ì„œìš¸_ìœ í¥ì—…ì†Œ_êµ¬ë³„ë¶„ë¥˜.csv')
alcohol_seoul.head()

   ìƒì„¸ì˜ì—…ìƒíƒœì½”ë“œ                          ì§€ë²ˆì£¼ì†Œ   ì‚¬ì—…ì¥ëª…                ë°ì´í„°ê°±ì‹ ì¼ì     êµ¬
0         1     ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ì—­ì‚¼ë™ 678-24 ëŠ˜ë´„ë¹Œë”©  ê³¨ë“œì½”ìŠ¤íŠ¸  2023-12-07 00:07:00.0   ê°•ë‚¨êµ¬
1         1            ì„œìš¸íŠ¹ë³„ì‹œ ì†¡íŒŒêµ¬ ê°€ë½ë™ 98-7    ê³¨ë“œ1  2023-12-03 22:06:00.0   ì†¡íŒŒêµ¬
2         2  ì„œìš¸íŠ¹ë³„ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™ 382-22ë²ˆì§€ ì§€í•˜1ì¸µ      ??  2018-08-31 23:59:59.0   ë§ˆí¬êµ¬
3         1    ì„œìš¸íŠ¹ë³„ì‹œ ì˜ë“±í¬êµ¬ ì‹ ê¸¸ë™ 449-22 ì‹ ì„±ë¹Œë”©     ë¦°ìŠ¤  2022-10-31 22:02:00.0  ì˜ë“±í¬êµ¬
4         1           ì„œìš¸íŠ¹ë³„ì‹œ ì„œì´ˆêµ¬ ì ì›ë™ 12-21     ë§Œë‚¨  2022-12-05 22:09:00.0   ì„œì´ˆêµ¬

In [42]:
# ì¤‘êµ¬ -> ì„œìš¸ì¤‘êµ¬ ë³€ê²½
def change(name):
    if name == 'ì¤‘êµ¬':
        return 'ì„œìš¸ì¤‘êµ¬'
    return name

alcohol_seoul['êµ¬'] = alcohol_seoul['êµ¬'].apply(change)

In [43]:
# ê²°ì¸¡ì¹˜ ì œê±°
alcohol_seoul = alcohol_seoul.dropna(subset='êµ¬')

In [44]:
# ì‚¬ì—…ì¥ ìˆ˜ ì¹´ìš´íŠ¸
alcohol_seoul2 = alcohol_seoul.groupby(by='êµ¬', as_index=False).count()

In [45]:
# ì‚¬ì—…ì¥ ìˆ˜ ì»¬ëŸ¼ë§Œ ë‚¨ê¸°ê¸°
alcohol_seoul2 = alcohol_seoul2.drop(['ìƒì„¸ì˜ì—…ìƒíƒœì½”ë“œ','ì§€ë²ˆì£¼ì†Œ','ë°ì´í„°ê°±ì‹ ì¼ì'], axis=1)
alcohol_seoul2.rename(columns={'ì‚¬ì—…ì¥ëª…':'ìœ í¥ì—…ì†Œ ê°œìˆ˜'}, inplace=True)
alcohol_seoul2.head()

     êµ¬  ìœ í¥ì—…ì†Œ ê°œìˆ˜
0  ê°•ë‚¨êµ¬      658
1  ê°•ë™êµ¬      288
2  ê°•ë¶êµ¬      154
3  ê°•ì„œêµ¬      232
4  ê´€ì•…êµ¬      423

2) ì¸ì²œ&ê²½ê¸°

In [ ]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
alcohol_gg = pd.read_csv('data/ì¸ì²œê²½ê¸°_ìœ í¥ì—…ì†Œ.csv')

alcohol_gg.head()

  ìƒì„¸ì˜ì—…ìƒíƒœëª…                    ë„ë¡œëª…ì „ì²´ì£¼ì†Œ        ì‚¬ì—…ì¥ëª…    êµ¬     ì‹œë„ ì‹œêµ°êµ¬2
0      ì˜ì—…    ì¸ì²œê´‘ì—­ì‹œ ì˜¹ì§„êµ° ë°±ë ¹ë©´ ë°±ë ¹ë¡œ 298-1      ì¥ë¯¸ë…¸ë˜í´ëŸ½  NaN  ì¸ì²œê´‘ì—­ì‹œ  ì˜¹ì§„êµ°
1      ì˜ì—…     ì¸ì²œê´‘ì—­ì‹œ ì˜¹ì§„êµ° ì˜í¥ë©´ ì˜í¥ë‚¨ë¡œ 307     ë¹ ìƒ¤ ë…¸ë˜ì£¼ì   NaN  ì¸ì²œê´‘ì—­ì‹œ  ì˜¹ì§„êµ°
2      ì˜ì—…  ì¸ì²œê´‘ì—­ì‹œ ì˜¹ì§„êµ° ì˜í¥ë©´ ì˜í¥ë¶ë¡œ35ë²ˆê¸¸ 21  ë‰´ ì°¨ì°¨ì°¨ ë…¸ë˜í´ëŸ½  NaN  ì¸ì²œê´‘ì—­ì‹œ  ì˜¹ì§„êµ°
3      ì˜ì—…    ì¸ì²œê´‘ì—­ì‹œ ì˜¹ì§„êµ° ë°±ë ¹ë©´ ë°±ë ¹ë¡œ 282-1         í¼í™íŠ¸  NaN  ì¸ì²œê´‘ì—­ì‹œ  ì˜¹ì§„êµ°
4      ì˜ì—…  ì¸ì²œê´‘ì—­ì‹œ ì˜¹ì§„êµ° ë°±ë ¹ë©´ ë°±ë ¹ë¡œ 287, 1ì¸µ        í…”ë ˆíŒŒì‹œ  NaN  ì¸ì²œê´‘ì—­ì‹œ  ì˜¹ì§„êµ°

In [47]:
# ì¤‘êµ¬ -> ì¸ì²œì¤‘êµ¬ ë³€ê²½
def change2(name):
    if name == 'ì¤‘êµ¬':
        return 'ì¸ì²œì¤‘êµ¬'
    return name

alcohol_gg['êµ¬'] = alcohol_gg['ì‹œêµ°êµ¬2'].apply(change2)

In [48]:
# ì‚¬ì—…ì¥ ìˆ˜ ì¹´ìš´íŠ¸
alcohol_gg2 = alcohol_gg.groupby(by='êµ¬', as_index=False).count()

In [49]:
# ì‚¬ì—…ì¥ ìˆ˜ ì»¬ëŸ¼ë§Œ ë‚¨ê¸°ê¸°
alcohol_gg2 = alcohol_gg2.drop(['ìƒì„¸ì˜ì—…ìƒíƒœëª…','ë„ë¡œëª…ì „ì²´ì£¼ì†Œ','ì‹œë„','ì‹œêµ°êµ¬2'], axis=1)
alcohol_gg2.rename(columns={'ì‚¬ì—…ì¥ëª…':'ìœ í¥ì—…ì†Œ ê°œìˆ˜'}, inplace=True)
alcohol_gg2.columns

Index(['êµ¬', 'ìœ í¥ì—…ì†Œ ê°œìˆ˜'], dtype='object')

In [50]:
alcohol_gg2[alcohol_gg2['êµ¬'] =='ì•ˆì–‘ì‹œ']

      êµ¬  ìœ í¥ì—…ì†Œ ê°œìˆ˜
21  ì•ˆì–‘ì‹œ      338

In [51]:
# ìœ í¥ì—…ì†Œ ë°ì´í„° í†µí•©
alcohol = pd.concat([alcohol_seoul2,alcohol_gg2], ignore_index=True)
alcohol.rename(columns={'êµ¬':'ì‹œêµ°êµ¬2'}, inplace=True)
alcohol.head()

  ì‹œêµ°êµ¬2  ìœ í¥ì—…ì†Œ ê°œìˆ˜
0  ê°•ë‚¨êµ¬      658
1  ê°•ë™êµ¬      288
2  ê°•ë¶êµ¬      154
3  ê°•ì„œêµ¬      232
4  ê´€ì•…êµ¬      423

### ğŸƒ í™œë™ëŸ‰ ë°ì´í„° ì „ì²˜ë¦¬

- ê¸°ì¤€ì—°ì›”: 2020ë…„ 9ì›” (2021 ë°ì´í„° ì—†ìŒ)
- ì‚¬ìš© ë³€ìˆ˜: `ì‹œêµ°êµ¬ë³„ ì‹œì„¤ ìˆ˜`,`ì¸êµ¬ ìˆ˜` â†’ ì¸ë‹¹ ì‹œì„¤ ìˆ˜ ê³„ì‚°

In [ ]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
data4 = pd.read_csv('data/activity.csv', index_col=0)
data4.head()

     ê¸°ì¤€ì—°ì›”    ì‹œë„ëª… ì‹œêµ°êµ¬ëª…  ì‹œêµ°êµ¬ë³„ì‹œì„¤ìˆ˜  ì‹œêµ°êµ¬ë³„ì¸êµ¬ìˆ˜    ì¸ë‹¹ì‹œì„¤ìˆ˜ ì‹œêµ°êµ¬2
0  202008  ì„œìš¸íŠ¹ë³„ì‹œ  ì¢…ë¡œêµ¬       81   149962  0.00054  ì¢…ë¡œêµ¬
1  202008  ì„œìš¸íŠ¹ë³„ì‹œ   ì¤‘êµ¬       26   125990  0.00021   ì¤‘êµ¬
2  202008  ì„œìš¸íŠ¹ë³„ì‹œ  ìš©ì‚°êµ¬       28   229362  0.00012  ìš©ì‚°êµ¬
3  202008  ì„œìš¸íŠ¹ë³„ì‹œ  ì„±ë™êµ¬       28   296183  0.00009  ì„±ë™êµ¬
4  202008  ì„œìš¸íŠ¹ë³„ì‹œ  ê´‘ì§„êµ¬       25   348647  0.00007  ê´‘ì§„êµ¬

In [53]:
# 9ì›” ë°ì´í„°ë§Œ ì¶”ì¶œ
act09 = data4[data4['ê¸°ì¤€ì—°ì›”'] == 202009]
act09

       ê¸°ì¤€ì—°ì›”    ì‹œë„ëª… ì‹œêµ°êµ¬ëª…  ì‹œêµ°êµ¬ë³„ì‹œì„¤ìˆ˜  ì‹œêµ°êµ¬ë³„ì¸êµ¬ìˆ˜    ì¸ë‹¹ì‹œì„¤ìˆ˜ ì‹œêµ°êµ¬2
229  202009  ì„œìš¸íŠ¹ë³„ì‹œ  ì¢…ë¡œêµ¬       81   149952  0.00054  ì¢…ë¡œêµ¬
230  202009  ì„œìš¸íŠ¹ë³„ì‹œ   ì¤‘êµ¬       26   125800  0.00021   ì¤‘êµ¬
231  202009  ì„œìš¸íŠ¹ë³„ì‹œ  ìš©ì‚°êµ¬       28   229786  0.00012  ìš©ì‚°êµ¬
232  202009  ì„œìš¸íŠ¹ë³„ì‹œ  ì„±ë™êµ¬       28   295591  0.00009  ì„±ë™êµ¬
233  202009  ì„œìš¸íŠ¹ë³„ì‹œ  ê´‘ì§„êµ¬       25   348064  0.00007  ê´‘ì§„êµ¬
..      ...    ...  ...      ...      ...      ...  ...
330  202009    ê²½ê¸°ë„  í¬ì²œì‹œ      102   147803  0.00069  í¬ì²œì‹œ
331  202009    ê²½ê¸°ë„  ì—¬ì£¼ì‹œ       69   111512  0.00062  ì—¬ì£¼ì‹œ
332  202009    ê²½ê¸°ë„  ì—°ì²œêµ°       78    43590  0.00179  ì—°ì²œêµ°
333  202009    ê²½ê¸°ë„  ê°€í‰êµ°       76    62551  0.00122  ê°€í‰êµ°
334  202009    ê²½ê¸°ë„  ì–‘í‰êµ°       92   118433  0.00078  ì–‘í‰êµ°

[66 rows x 7 columns]

In [ ]:
# ì‹œêµ°êµ¬, ì‹œë„ ì»¬ëŸ¼ëª… ë³€ê²½
act09.rename(columns={'ì‹œêµ°êµ¬ëª…':'ì‹œêµ°êµ¬'}, inplace=True)
act09.rename(columns={'ì‹œë„ëª…':'ì‹œë„'}, inplace=True)

In [ ]:
# ì¤‘ë³µëœ ì‹œêµ°êµ¬ëª… í–‰ì„ ì²« í–‰ë§Œ ë‚¨ê¸°ê³  ë‚˜ë¨¸ì§€ ì‚­ì œ
act09 = act09.drop_duplicates(subset=['ì‹œêµ°êµ¬'], keep='first')

# ë¹ˆë„ ì»¬ëŸ¼ì„ ì¤‘ë³µëœ ì‹œêµ°êµ¬ëª…ì˜ ì´í•© ëŒ€ì²´
list = ['ì‹œêµ°êµ¬ë³„ì‹œì„¤ìˆ˜','ì‹œêµ°êµ¬ë³„ì¸êµ¬ìˆ˜','ì¸ë‹¹ì‹œì„¤ìˆ˜']
act09[list] = act09.groupby('ì‹œêµ°êµ¬')[list].transform('sum')

# ì¤‘ë³µëœ ì‹œêµ°êµ¬ëª… í–‰ì„ ë‹¤ì‹œ ì‚­ì œí•˜ì—¬ ì´í•©ì´ ë°˜ì˜ëœ ì²« í–‰ë§Œ ë‚¨ê¸°ê¸°
act09 = act09.drop_duplicates(subset=['ì‹œêµ°êµ¬'], keep='first')

In [56]:
# ì¤‘êµ¬ ì¤‘ë³µ ì²˜ë¦¬
act09.loc[(act09['ì‹œë„']=='ì„œìš¸íŠ¹ë³„ì‹œ')&(act09['ì‹œêµ°êµ¬']=='ì¤‘êµ¬'), 'ì‹œêµ°êµ¬'] = 'ì„œìš¸ì¤‘êµ¬'
act09.loc[(act09['ì‹œë„']=='ì¸ì²œê´‘ì—­ì‹œ')&(act09['ì‹œêµ°êµ¬']=='ì¤‘êµ¬'), 'ì‹œêµ°êµ¬'] = 'ì¸ì²œì¤‘êµ¬'

In [57]:
# ì‹œêµ°êµ¬ ê³ ìœ ê°’ì¸ì§€ í™•ì¸
if (act09['ì‹œêµ°êµ¬2'].value_counts() > 1).any():
    print('ì‹œêµ°êµ¬ ê³ ìœ ê°’ì´ ì•„ë‹™ë‹ˆë‹¤.')
else:
    print('ì‹œêµ°êµ¬ ê³ ìœ ê°’ì…ë‹ˆë‹¤.')

ì‹œêµ°êµ¬ ê³ ìœ ê°’ì…ë‹ˆë‹¤.

In [58]:
act09.drop(columns=['ì‹œêµ°êµ¬'], inplace=True)

### ğŸš¨ ë²”ì£„ìœ¨ ë°ì´í„° ì „ì²˜ë¦¬

- ì‚¬ìš© ë³€ìˆ˜: `ì´ì‹ ê³ ìˆ˜`
- ë¶ˆí•„ìš”í•œ ì‹ ê³  í•­ëª© ì»¬ëŸ¼ ì œê±°
- ê¸°ì¤€ ë…„ë„: 2020

In [ ]:
data5 = pd.read_csv('data/ë²”ì£„ ë¹ˆë°œì§€ ë°ì´í„° 2020.csv',encoding='cp949')
data5.head()

,ì‹ ê³ ë…„ë„,ì‹œë„,ì‹œêµ°êµ¬,ì´ì‹ ê³ ìˆ˜,ê°€ì •í­ë ¥ì‹ ê³ ìˆ˜,ë°ì´íŠ¸í­ë ¥ì‹ ê³ ìˆ˜,ì„±í­ë ¥ì‹ ê³ ìˆ˜,ëª°ë˜ì¹´ë©”ë¼ì‹ ê³ ìˆ˜,ì‚´ì¸ì‹ ê³ ìˆ˜,ê°•ë„ì‹ ê³ ìˆ˜,ì ˆë„ì‹ ê³ ìˆ˜,í­ë ¥ì‹ ê³ ìˆ˜
0,2020,ê²½ê¸°ë„,ê°€í‰êµ°,1141,184,59,28,0,0,2,273,595
1,2020,ê²½ê¸°ë„,ê³ ì–‘ì‹œ,26557,6148,845,648,9,12,10,5746,13175
2,2020,ê²½ê¸°ë„,ê³¼ì²œì‹œ,603,165,7,24,0,0,0,183,224
3,2020,ê²½ê¸°ë„,ê´‘ëª…ì‹œ,26100,6314,1080,666,0,2,20,6100,11918
4,2020,ê²½ê¸°ë„,ê´‘ì£¼ì‹œ,6238,2260,253,111,1,0,0,1283,2331

In [61]:
# ì¤‘êµ¬ ì¤‘ë³µ ì²˜ë¦¬
data5.loc[(data5['ì‹œë„']=='ì„œìš¸íŠ¹ë³„ì‹œ')&(data5['ì‹œêµ°êµ¬']=='ì¤‘êµ¬'), 'ì‹œêµ°êµ¬'] = 'ì„œìš¸ì¤‘êµ¬'
data5.loc[(data5['ì‹œë„']=='ì¸ì²œê´‘ì—­ì‹œ')&(data5['ì‹œêµ°êµ¬']=='ì¤‘êµ¬'), 'ì‹œêµ°êµ¬'] = 'ì¸ì²œì¤‘êµ¬'

In [62]:
# ì´ì‹ ê³ ìˆ˜ ì œì™¸ ì»¬ëŸ¼ ì‚­ì œ
data5 = data5[['ì‹œêµ°êµ¬', 'ì´ì‹ ê³ ìˆ˜']]
data5.rename(columns={'ì‹œêµ°êµ¬': 'ì‹œêµ°êµ¬2'}, inplace=True)

### ğŸš— êµí†µëŸ‰ ë°ì´í„° ì „ì²˜ë¦¬

- 22ì‹œ ~ 06ì‹œ ì‹œê°„ëŒ€ í•„í„°ë§(ì•¼ê°„ í†µí–‰ëŸ‰ë§Œ ê³„ì‚°)
- ìœ ì… êµí†µëŸ‰ í‰ê·  â†’ `ìœ ì…ì•¼ê°„êµí†µëŸ‰` ì»¬ëŸ¼ ìƒì„±

In [ ]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
data6 = pd.read_csv('data/ì•¼ê°„êµí†µëŸ‰ í‰ê· .csv')
data6.head()

                ë„ë¡œëª…  êµ¬ ì´ë¦„   ìœ ì…ì•¼ê°„êµí†µëŸ‰í‰ê·
0    A-01  ì„±ì‚°ë¡œ(ê¸ˆí™”í„°ë„  ì„œëŒ€ë¬¸êµ¬  746.545455
1    A-02  ì‚¬ì§ë¡œ(ì‚¬ì§í„°ë„   ì¢…ë¡œêµ¬  867.636364
2  A-03  ìí•˜ë¬¸ë¡œ(ìí•˜ë¬¸í„°ë„   ì¢…ë¡œêµ¬  347.454545
3   A-04  ëŒ€ì‚¬ê´€ë¡œ(ì‚¼ì²­í„°ë„   ì„±ë¶êµ¬   80.545455
4     A-05  ìœ¨ê³¡ë¡œ(ì•ˆêµ­ì—­   ì¢…ë¡œêµ¬  695.909091

In [68]:
data6.loc[data6['êµ¬ ì´ë¦„']=='ì¤‘êµ¬','êµ¬ ì´ë¦„'] = 'ì„œìš¸ì¤‘êµ¬'

In [69]:
data6 = data6.groupby(by='êµ¬ ì´ë¦„',as_index=False)['ìœ ì…ì•¼ê°„êµí†µëŸ‰í‰ê· '].mean()

In [70]:
# êµ¬ì´ë¦„ -> ì‹œêµ°êµ¬ ì»¬ëŸ¼ëª… ë³€ê²½
data6.rename(columns={'êµ¬ ì´ë¦„':'ì‹œêµ°êµ¬2'}, inplace=True)

### ğŸ’° ê³µì‹œì§€ê°€ ë°ì´í„° ì „ì²˜ë¦¬

- ì‹œêµ°êµ¬ ê¸°ì¤€ìœ¼ë¡œ í‰ê·  ê³µì‹œì§€ê°€ ê³„ì‚°
- ì£¼ê±°ì§€ì—­ í•„í„°ë§

In [ ]:
data7 = pd.read_csv('data/ê³µì‹œì§€ê°€_ìˆ˜ì •.csv', encoding='cp949')
data7.head()

  ì‹œêµ°êµ¬ëª…          ê³µì‹œì§€ê°€     ê³µì‹œì§€ê°€2
0  ê°€í‰êµ°  1.425912e+05  0.008486
1  ê°•ë‚¨êµ¬  1.680318e+07  1.000000
2  ê°•ë™êµ¬  5.667941e+06  0.337314
3  ê°•ë¶êµ¬  3.519811e+06  0.209473
4  ê°•ì„œêµ¬  4.261157e+06  0.253592

In [73]:
# ì‹œêµ°êµ¬ëª… -> ì‹œêµ°êµ¬ë¡œ ì»¬ëŸ¼ëª… ë³€ê²½
data7.rename(columns={'ì‹œêµ°êµ¬ëª…':'ì‹œêµ°êµ¬2'}, inplace=True)

## ë°ì´í„° ë³‘í•©

- ê¸°ì¤€: ìˆ˜ë©´ì¥ì•  ë°ì´í„°ì˜ ì‹œêµ°êµ¬
- ë°©ì‹: left merge
- ë³‘í•© í›„ ê²°ì¸¡ì¹˜ í™•ì¸ ë° ê°„ë‹¨í•œ ì²˜ë¦¬

In [74]:
data3.drop(columns=['ì‹œë„'], inplace=True)
data2.drop(columns=['ì‹œë„'], inplace=True)
act09.drop(columns=['ì‹œë„'], inplace=True)

In [75]:
# ë°ì´í„° ë³‘í•©
data_merge = pd.merge(data, data2, on='ì‹œêµ°êµ¬2', how='left').merge(data3, on='ì‹œêµ°êµ¬2', how='left')
data_merge = pd.merge(data_merge, alcohol, on='ì‹œêµ°êµ¬2', how='left')
data_merge = pd.merge(data_merge, act09, on='ì‹œêµ°êµ¬2', how='left')
data_merge = pd.merge(data_merge, data5, on='ì‹œêµ°êµ¬2', how='left')
data_merge = pd.merge(data_merge, data6, on='ì‹œêµ°êµ¬2', how='left')
data_merge = pd.merge(data_merge, data7, on='ì‹œêµ°êµ¬2', how='left')

# ë³‘í•©ëœ ë°ì´í„° í™•ì¸
data_merge.head()

,ì£¼ìƒë³‘ëª…,ì‹œë„,ì‹œêµ°êµ¬_x,ì§„ë£Œì¸ì›(ëª…),ì‹œêµ°êµ¬2,ì‹œêµ°êµ¬_y,1ì„¸ëŒ€ ê°€êµ¬,1ì¸ ê°€êµ¬,2ì„¸ëŒ€ ê°€êµ¬,3ì„¸ëŒ€ ê°€êµ¬,...,í‰ê· ì£¼ë¬¸ê¸ˆì•¡,ìœ í¥ì—…ì†Œ ê°œìˆ˜,ê¸°ì¤€ì—°ì›”,ì‹œêµ°êµ¬ë³„ì‹œì„¤ìˆ˜,ì‹œêµ°êµ¬ë³„ì¸êµ¬ìˆ˜,ì¸ë‹¹ì‹œì„¤ìˆ˜,ì´ì‹ ê³ ìˆ˜,ìœ ì…ì•¼ê°„êµí†µëŸ‰í‰ê·,ê³µì‹œì§€ê°€,ê³µì‹œì§€ê°€2
0,ë¹„ê¸°ì§ˆì„± ìˆ˜ë©´ì¥ì•,ì„œìš¸íŠ¹ë³„ì‹œ,ì¢…ë¡œêµ¬,1202.0,ì¢…ë¡œêµ¬,ì¢…ë¡œêµ¬,348.633333,5198.666667,507.567407,119.103333,...,24024.285714,439.0,202009.0,81.0,149952.0,0.00054,6834.0,524.102273,9.045009e+06,0.538291
1,ë¹„ê¸°ì§ˆì„± ìˆ˜ë©´ì¥ì•,ì„œìš¸íŠ¹ë³„ì‹œ,ì„œìš¸ì¤‘êµ¬,1280.0,ì„œìš¸ì¤‘êµ¬,ì„œìš¸ì¤‘êµ¬,314.186667,4565.666667,427.126667,94.586667,...,27154.801724,656.0,NaN,NaN,NaN,NaN,10584.0,441.578512,1.399032e+07,0.832600
2,ë¹„ê¸°ì§ˆì„± ìˆ˜ë©´ì¥ì•,ì„œìš¸íŠ¹ë³„ì‹œ,ìš©ì‚°êµ¬,1955.0,ìš©ì‚°êµ¬,ìš©ì‚°êµ¬,553.745556,7378.266667,792.157778,158.685000,...,26419.737778,88.0,202009.0,28.0,229786.0,0.00012,6923.0,901.952273,9.666904e+06,0.575302
3,ë¹„ê¸°ì§ˆì„± ìˆ˜ë©´ì¥ì•,ì„œìš¸íŠ¹ë³„ì‹œ,ì„±ë™êµ¬,2256.0,ì„±ë™êµ¬,ì„±ë™êµ¬,712.411111,8519.066667,1135.387407,228.603333,...,19055.000000,33.0,202009.0,28.0,295591.0,0.00009,6164.0,838.563636,6.484237e+06,0.385893
4,ë¹„ê¸°ì§ˆì„± ìˆ˜ë©´ì¥ì•,ì„œìš¸íŠ¹ë³„ì‹œ,ê´‘ì§„êµ¬,2351.0,ê´‘ì§„êµ¬,ê´‘ì§„êµ¬,772.342222,12462.266667,1296.900000,247.738333,...,NaN,26.0,202009.0,25.0,348064.0,0.00007,18288.0,868.400000,5.778178e+06,0.343874

In [76]:
# ì¤‘ë³µ ì‹œêµ°êµ¬ í–‰ ì‚­ì œ
data_merge.drop(columns=['ì‹œêµ°êµ¬_x','ì‹œêµ°êµ¬_y','ì‹œêµ°êµ¬','ê¸°ì¤€ì—°ì›”'], inplace=True)

In [ ]:
# ë°ì´í„° ì €ì¥
data_merge.to_csv('data/í†µí•©ë°ì´í„°.csv', index=False)